*
    box-sizing: border-box
    margin: 0
    padding: 0
    +regular

body
    background-color: #EFF1FC

    a
        color: #000
        text-decoration: none
    a:visited
        color: #000

.app-wrapper
    display: grid
    grid-template-rows: 42px 320px
    grid-template-columns: 466px auto
    grid-gap: 10px
    grid-template-areas: "header header" "navbar wall" 
    // overflow: hidden

.app-wrapper-content
    grid-area: wall
    background-color: #EFF1FC